@font-face{
    font-family:'Eras Demi ITC';
    src: url('../fonts/ERASDEMI.TTF')
}

.pressed{ 
    display:none;
} 

.loglunch-btn{
    
}

.loglunchend-btn .icon.ion-pizza{
    color: yellow;
}
    
.lunch_timer.final{ 
    animation-name:twoblink;
    animation-duration:2s;
    animation-iteration-count:2;
}

@keyframes twoblink{
    from:   {opacity: 0.5;}
    to:     {opacity: 1;  } 
}