@font-face{
    font-family: 'Led-Display';
    src: url('../fonts/led_display-7.ttf')
}

/* Timetable section */ 
.content .content:nth-of-type(12) td{
     text-align:center;
}

.time-display{
    font-family:'Led-Display';
}

.small-box .icon {
    color: white;
    font-style:normal;
    font-size: 20px;
    margin-top: 65px;
}

.small-box:hover .icon{
    font-size: 25px;
}

#time_table .modal-footer .btn-danger{
    float:left;
}

.intern-work-slot{
    display:inline-block;
}

td .fa-ban{ 
    color: red;
    margin-right: 10px;
    animation-name: hide;
    animation-duration: 0.25s;
    animation-fill-mode:forwards;
}

td .fa-ban.active{
    animation-name: show;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    animation-fill-mode:forwards;
}

td .fa-ban.active:hover{
    animation-name: grow;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode:forwards;
}

td .fa-ban.active:not(:hover){
    animation-name: shrink;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode:forwards;
}


td .intern-work-slot:hover{ 
    animation-name: hide;
    animation-duration: 0.50s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

td .intern-work-slot:not(:hover){
    animation-name: show;
    animation-duration: 0.50s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

.fa-plus-square:not(:hover){
    animation-name: shrink;
    animation-duration: .25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.fa-plus-square:hover{
    animation-name: grow;
    animation-duration: .25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes grow{
    from {transform: scale(1,1);}
    to   {transform: scale(2,2);}
}

@keyframes shrink{
    from {transform: scale(2,2);}
    to   {transform: scale(1,1);}
}

@keyframes show{ 
    from {opacity: 0;}
    to   {opacity: 1;} 
}

@keyframes hide{
    from {opacity: 1;}
    to   {opacity: 0;}
}
