{% macro intern_log(intern, log) -%}
<div class="col-lg-3 col-xs-6">
    <!-- TODO: add own color scheme for these backgrounds -->
    <div class="small-box bg-aqua">
        <div class="inner">
            <!-- name of the person who has arrived --> 
            <h3 class="intern-name">{{ intern.getName() }}</h5>
            <!-- Location where the person has checked-in from -->
            <p class="intern-arrive-time"> 
            {% if log is not none %} 
                {{ log._Log__confirm_data['time']|default('Not Present') }}
            {% endif %}
            </p>
        </div>
        <div class="icon">
            <!--Arrival Time--> 
            <i>
                {% if log is not none %} 
                    {{ log._Log__log_time|default('') }}
                {% endif %} 
            </i>
        </div>
        <a href="#" class="small-box-footer">
            Confirm <i class="ion ion-checkmark-round"></i>
        </a>
    </div>
</div>
{% endmacro %}
